/_region_.tex
/auto/conciseSamples.el
/auto/summary.el
/build/pdf/summary.pdf
/build/pdf/summary.thm
/summary.pdf
/summary.thm
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
